<template>
  <!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
  -->
  <div class="flex h-screen overflow-hidden bg-gray-100">
    <!-- Off-canvas menu for mobile -->
    <div :class="{ hidden: !showMobileMenu }" class="md:hidden">
      <div class="fixed inset-0 z-40 flex border-r border-back-700 bg-back-800">
        <!--
        Off-canvas menu overlay, show/hide based on off-canvas menu state.

        Entering: "transition-opacity ease-linear duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "transition-opacity ease-linear duration-300"
          From: "opacity-100"
          To: "opacity-0"
        -->
        <div class="fixed inset-0">
          <div class="absolute inset-0 bg-gray-600 opacity-75"></div>
        </div>
        <!--
        Off-canvas menu, show/hide based on off-canvas menu state.

        Entering: "transition ease-in-out duration-300 transform" From: "-translate-x-full"
          To: "translate-x-0"
        Leaving: "transition ease-in-out duration-300 transform"
          From: "translate-x-0"
          To: "-translate-x-full"
        -->
        <div class="relative flex flex-col flex-1 w-full max-w-xs pt-5 pb-4">
          <div class="absolute top-0 right-0 p-1 -mr-14">
            <button
              v-on:click="showMobileMenu = !showMobileMenu"
              class="flex items-center justify-center w-12 h-12 rounded-full focus:outline-none focus:bg-gray-600"
              aria-label="Close sidebar"
            >
              <svg
                class="w-6 h-6 text-white"
                stroke="currentColor"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
          <div
            id="mobileMainLogoText"
            class="flex items-center flex-shrink-0 px-4"
          >
            <img
              src="/img/brand/white.png"
              style="width: 128px"
              class="opacity-90 hover:opacity-100"
            />
          </div>
          <div class="px-2 space-y-1">
            <p
              class="flex items-center px-2 py-2 text-sm text-back-100 group leading-5"
            >
              {{ gameTitle }}
            </p>
          </div>
          <div class="flex-1 h-0 mt-5 overflow-y-auto">
            <div class="px-2 space-y-1">
              <p
                class="flex items-center px-2 py-2 text-sm font-medium text-back-200 group leading-5 rounded-md"
              >
                Your Team
              </p>
            </div>
            <nav id="userListContainer" class="flex-1 px-2 space-y-1">
              <div class="overflow-hidden border-gray-200 sm:rounded-sm">
                <user-list
                  :playerStatus="playerStatus"
                  :isHost="true"
                  v-on:invite="copyJoinURL()"
                  v-on:qr="
                    showJoinCode = true;
                    showMobileMenu = false;
                  "
                  v-on:remove="removePlayer($event)"
                />
              </div>
            </nav>
          </div>
        </div>
        <div class="flex-shrink-0 w-14">
          <!-- Dummy element to force sidebar to shrink to fit close icon -->
        </div>
      </div>
    </div>

    <!-- Static sidebar for desktop -->
    <div
      class="hidden border-r md:flex md:flex-shrink-0 border-back-700 bg-back-800"
    >
      <div class="flex flex-col w-64">
        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div class="flex flex-col flex-grow pt-5 pb-4 overflow-y-auto">
          <div
            id="mainLogoText"
            class="flex items-center flex-shrink-0 px-4 text-xl text-white"
          >
            <img
              src="/img/brand/white.png"
              style="width: 128px"
              class="opacity-90 hover:opacity-100"
            />
          </div>

          <div class="px-2 space-y-1">
            <p
              class="flex items-center px-2 py-2 text-sm text-back-100 group leading-5"
            >
              {{ gameTitle }}
            </p>
          </div>
          <div class="flex flex-col flex-1 mt-5">
            <nav class="px-2 space-y-1">
              <p
                class="flex items-center px-2 py-2 text-sm font-medium text-back-200 group leading-5 rounded-md"
              >
                Your Team
              </p>
            </nav>
            <nav id="userListContainer" class="flex-1 px-2 space-y-1">
              <div class="overflow-hidden sm:rounded-sm">
                <user-list
                  :playerStatus="playerStatus"
                  :isHost="true"
                  v-on:invite="copyJoinURL()"
                  v-on:qr="showJoinCode = true"
                  v-on:remove="removePlayer($event)"
                />
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col flex-1 w-0 overflow-hidden">
      <div class="relative z-10 flex flex-shrink-0 bg-white shadow">
        <button
          v-on:click="showMobileMenu = !showMobileMenu"
          class="px-4 text-gray-500 border-r border-gray-200 focus:outline-none focus:bg-gray-100 focus:text-gray-600 md:hidden"
          aria-label="Open sidebar"
        >
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h7"
            />
          </svg>
        </button>
        <div class="flex flex-1 pr-4 bg-back">
          <div class="flex-grow">
            <form
              class="flex flex-col w-full md:ml-0"
              @submit.prevent="startSession"
              method="GET"
            >
              <label for="search_field" class="sr-only">Story to refine</label>
              <div
                class="relative flex flex-col w-full pl-4 text-info-600 focus-within:text-info-400"
              >
                <div
                  class="absolute inset-y-0 flex items-center text-xl pointer-events-none"
                >
                  #
                </div>
                <input
                  id="gameTopic"
                  class="block w-full h-full py-2 pl-8 pr-3 text-white border-0 placeholder-back-200 bg-back focus-within:text-success-400 focus:border-0 focus:outline-none focus:shadow-none focus:ring-0 focus:placeholder-back-400 sm:text-lg"
                  placeholder="<enter story to refine>"
                  type="search"
                  v-model="formGameTopic"
                />
              </div>
              <div
                class="relative flex flex-col w-full pl-4 bg-back-700 text-info-600 focus-within:text-info-400"
              >
                <div
                  class="absolute inset-y-0 flex items-center text-xs pointer-events-none"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-4 h-4"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <input
                  id="topicLink"
                  class="block w-full h-full py-2 pl-8 pr-3 border-0 text-back-200 placeholder-back-200 bg-back-700 focus-within:text-success-400 focus:border-0 focus:shadow-none focus:ring-0 focus:outline-none focus:placeholder-back-400 sm:text-xs"
                  placeholder="https://..."
                  type="search"
                  v-model="formTopicLink"
                />
              </div>
            </form>
          </div>
          <div class="flex items-center ml-4 md:ml-6">
            <button
              id="mainButton"
              class="p-1 px-4 text-white rounded-sm bg-info-500 hover:bg-info-400 focus:outline-none focus:ring"
              v-on:click="startSession"
            >
              {{ refineButtonText }}
            </button>
          </div>
        </div>
      </div>
      <game-status
        :isHost="true"
        :gameStatus="gameStatus"
        :isUnanimousVote="isUnanimousVote"
      />
      <div
        class="fixed inset-0 z-10 flex items-end justify-center px-4 py-6 pointer-events-none mt-28 sm:p-6 sm:items-start sm:justify-end"
      >
        <notification
          :visible="notification.title !== ''"
          :title="notification.title"
          :description="notification.description"
          v-on:close="notification.title = ''"
        />
      </div>
      <main
        class="relative flex-1 overflow-y-auto bg-back-800 focus:outline-none"
        tabindex="0"
      >
        <div class="pt-2 pb-6 md:py-6">
          <div class="px-4 mx-auto sm:px-6 md:px-8">
            <ul
              id="board"
              class="space-y-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:space-y-0 lg:grid-cols-4 lg:gap-6"
            >
              <template v-if="isRunningRound"></template>
              <template v-if="isFinishedRound && !isUnanimousVote">
                <game-card
                  v-for="(card, p) in playerStatus"
                  :key="p"
                  :card="card"
                  :playerName="p"
                  :highlighted="highlightedPlayers.includes(p)"
                />
              </template>
              <template v-if="isFinishedRound && isUnanimousVote">
                <game-card
                  :card="unanimousVotedCard"
                  :playerName="gameTopic"
                  :isUnanimousVote="true"
                  :selected="true"
                />
              </template>
            </ul>
          </div>
        </div>
      </main>
    </div>
    <div class="fixed inset-x-0 bottom-0 pb-2 sm:pb-5">
      <hint-banner-bottom
        :isHost="true"
        :gameStatus="gameStatus"
        :isUnanimousVote="isUnanimousVote"
      />
      <join-code
        :show="showJoinCode"
        :value="generateJoinURL()"
        v-on:dismissed="showJoinCode = !showJoinCode"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { namespace } from "vuex-class";
import SelectMenu from "@/components/SelectMenu.vue";
import UserList from "@/components/UserList.vue";
import { hostGame } from "@/rest/Game";
import { messaging } from "./../rio-proto.js";
import GameCard from "@/components/GameCard.vue";
import GameStatus from "@/components/GameStatus.vue";
import HintBannerBottom from "@/components/HintBannerBottom.vue";
import Notification from "@/components/Notification.vue";
import JoinCode from "@/components/JoinCode.vue";
import { ConnectionErrorNoSessionCookie } from "@/store/models/GameStateModel";

const GameStateModule = namespace("gameStateModule");

@Component({
  components: {
    SelectMenu,
    UserList,
    GameCard,
    GameStatus,
    HintBannerBottom,
    Notification,
    JoinCode,
  },
})
export default class Host extends Vue {
  @Prop() private msg!: string;
  @GameStateModule.Getter
  private connectionError!: string;
  @GameStateModule.Getter
  private playerStatus!: messaging.PlayerUpdate;
  @GameStateModule.Getter
  private gameTitle!: string;
  @GameStateModule.Getter
  private gameStatus!: messaging.GameStatus;
  @GameStateModule.Getter
  private gameTopic!: string;
  @GameStateModule.Getter
  private isUnanimousVote!: boolean;
  @GameStateModule.Getter
  private highlightedPlayers!: string[];
  private selectedCardDeck = "default cards";
  private playerName = "HOST";
  private formGameTopic = "";
  private formTopicLink = "";
  private gameID = this.$route.params.gameID;
  private showMobileMenu = false;
  private showJoinCode = false;
  private notification = { title: "", description: "" };

  mounted() {
    this.$websocketConnect(this.gameID, true, "HOST");
    this.formGameTopic = this.gameTopic;
  }
  get refineButtonText(): string {
    switch (this.gameStatus) {
      case messaging.GameStatus.NEW:
        return "Refine";

      default:
        if (this.formGameTopic != "" && this.formGameTopic != this.gameTopic) {
          return "Switch";
        }
        return "Re-Estimate";
    }
  }

  startSession(): void {
    this.$websocketSend(
      messaging.Container.create({
        hostUpdate: {
          gameStatus: messaging.GameStatus.RUNNING,
          gameTopic: this.formGameTopic,
          gameTopicLink: this.formTopicLink,
        },
      })
    );
  }

  removePlayer(player: string): void {
    console.log("remove");
    this.$websocketSend(
      messaging.Container.create({
        kickUser: {
          UserID: player,
        },
      })
    );
  }

  onCardDeckSelect(value: string): void {
    this.selectedCardDeck = value;
  }

  copyJoinURL(): void {
    var dummy = document.createElement("textarea");
    document.body.appendChild(dummy);
    dummy.value = this.generateJoinURL();
    dummy.select();
    document.execCommand("copy");
    document.body.removeChild(dummy);

    this.notification = {
      title: "Link copied to clipboard!",
      description:
        "Forward this link to your team members, so they can join the session.",
    };
  }

  generateJoinURL(): string {
    return location.origin + "/#/j/" + this.gameID;
  }

  get isRunningRound(): boolean {
    return this.gameStatus === messaging.GameStatus.RUNNING;
  }

  get isFinishedRound(): boolean {
    return this.gameStatus === messaging.GameStatus.FINISHED;
  }

  get unanimousVotedCard(): messaging.CardDeckCards {
    return Number(Object.values(this.playerStatus)[0]);
  }

  @Watch("connectionError")
  onConnetionChanged(newStatus: string, oldStatus: string) {
    if (newStatus === ConnectionErrorNoSessionCookie) {
      this.$router.push("/j/" + this.gameID);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
