<template>
  <div class="flex flex-row text-white h-hero bg-back-800">
    <section class="max-w-4xl px-4 pt-5 mx-auto">
      <div class>
        <div class="flex flex-col justify-content-center" style="text-align: center;">
          <h4 class="mb-4 text-xl font-semibold text-info">
            <span class>Imprint</span>
          </h4>
          <h5 class="mb-4 text-lg font-semibold text-gray-400">
            <span>Information According to § 5 TMG</span>
          </h5>
          <p>
            Marius Svechla
            <br />Agnes-Karll-Weg 5
            <br />89075 Ulm
            <br />
            <br />
          </p>
          <p>
            +49 157 74 522 621
            <br />m.svechla[a-t]googlemail.com
          </p>
        </div>

        <div class="flex m-1 mt-5 row justify-content-center" style="text-align: center;">
          <div class="col-lg-12">
            <h4 class="mb-4 text-xl font-semibold text-gray-400">
              <span>Legal Disclosure</span>
            </h4>
            <h5 class="mb-4 text-lg font-semibold text-gray-400">
              <span>Accountability for Content</span>
            </h5>
            <p>The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents’ accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this matter, please note that we are not obliged to monitor the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).</p>
            <h5 class="my-4 text-lg font-semibold text-gray-400">
              <span>Accountability for Links</span>
            </h5>
            <p>Responsibility for the content of external links lies solely with the operators of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective link immediately.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {},
})
export default class Imprint extends Vue {}
</script>
