<template>
  <!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
  -->
  <div class="flex h-screen overflow-hidden bg-gray-100">
    <!-- Off-canvas menu for mobile -->
    <div :class="{ hidden: !showMobileMenu }" class="md:hidden">
      <div class="fixed inset-0 z-40 flex border-r bg-back border-back-700">
        <!--
        Off-canvas menu overlay, show/hide based on off-canvas menu state.

        Entering: "transition-opacity ease-linear duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "transition-opacity ease-linear duration-300"
          From: "opacity-100"
          To: "opacity-0"
        -->
        <div class="fixed inset-0">
          <div class="absolute inset-0 bg-gray-600 opacity-75"></div>
        </div>
        <!--
        Off-canvas menu, show/hide based on off-canvas menu state.

        Entering: "transition ease-in-out duration-300 transform"
          From: "-translate-x-full"
          To: "translate-x-0"
        Leaving: "transition ease-in-out duration-300 transform"
          From: "translate-x-0"
          To: "-translate-x-full"
        -->
        <div class="relative flex flex-col flex-1 w-full max-w-xs pt-5 pb-4">
          <div class="absolute top-0 right-0 p-1 -mr-14">
            <button
              v-on:click="showMobileMenu = !showMobileMenu"
              class="flex items-center justify-center w-12 h-12 rounded-full focus:outline-none focus:bg-gray-600"
              aria-label="Close sidebar"
            >
              <svg
                class="w-6 h-6 text-white"
                stroke="currentColor"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
          <div
            id="mobileMainLogoText"
            class="flex items-center flex-shrink-0 px-4"
          >
            <img
              src="/img/brand/white.png"
              style="width: 128px"
              class="opacity-90 hover:opacity-100"
            />
          </div>
          <div class="px-2 space-y-1">
            <p
              class="flex items-center px-2 py-2 text-sm font-medium text-back-100 group leading-5 rounded-md"
            >
              {{ gameTitle }}
            </p>
          </div>
          <div class="flex-1 h-0 mt-5 overflow-y-auto">
            <div class="px-2 space-y-1">
              <p
                class="flex items-center px-2 py-2 text-sm font-medium text-indigo-300 group leading-5 rounded-md"
              >
                Your Team
              </p>
            </div>
            <nav id="userListContainer" class="flex-1 px-2 space-y-1">
              <div class="overflow-hidden border-gray-200 sm:rounded-sm">
                <user-list :playerStatus="playerStatus" />
              </div>
            </nav>
          </div>
        </div>
        <div class="flex-shrink-0 w-14">
          <!-- Dummy element to force sidebar to shrink to fit close icon -->
        </div>
      </div>
    </div>

    <!-- Static sidebar for desktop -->
    <div
      class="hidden border-r md:flex md:flex-shrink-0 border-back-700 bg-back-800"
    >
      <div class="flex flex-col w-64">
        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div class="flex flex-col flex-grow pt-5 pb-4 overflow-y-auto">
          <div
            id="mainLogoText"
            class="flex items-center flex-shrink-0 px-4 text-xl text-white"
          >
            <img
              src="/img/brand/white.png"
              style="width: 128px"
              class="opacity-90 hover:opacity-100"
            />
          </div>

          <div class="px-2 space-y-1">
            <p
              class="flex items-center px-2 py-2 text-sm font-medium text-back-100 group leading-5 rounded-md"
            >
              {{ gameTitle }}
            </p>
          </div>
          <div class="flex flex-col flex-1 mt-5">
            <nav class="px-2 space-y-1">
              <p
                class="flex items-center px-2 py-2 text-sm font-medium text-back-200 group leading-5 rounded-md"
              >
                Your Team
              </p>
            </nav>
            <nav id="userListContainer" class="flex-1 px-2 space-y-1">
              <div class="overflow-hidden sm:rounded-sm">
                <user-list :playerStatus="playerStatus" />
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col flex-1 w-0 overflow-hidden">
      <div class="relative z-10 flex flex-shrink-0 h-16 bg-white shadow">
        <button
          v-on:click="showMobileMenu = !showMobileMenu"
          class="px-4 text-gray-500 border-r border-gray-200 focus:outline-none focus:bg-gray-100 focus:text-gray-600 md:hidden"
          aria-label="Open sidebar"
        >
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h7"
            />
          </svg>
        </button>
        <div class="flex justify-between flex-1 px-4 bg-back">
          <div class="flex flex-1">
            <form class="flex w-full md:ml-0" action="#" method="GET">
              <label for="search_field" class="sr-only">Story to refine</label>
              <div
                class="relative w-full text-info-600 focus-within:text-gray-600"
              >
                <div
                  class="absolute inset-y-0 flex items-center text-xl pointer-events-none"
                >
                  #
                </div>
                <div
                  class="flex items-center w-full h-full py-2 pl-8 pr-3 text-white sm:text-lg"
                >
                  <div>
                    <a
                      class="hover:text-info-400"
                      :href="gameTopicLink"
                      target="_blank"
                      >{{ gameTopic }}</a
                    >
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <game-status
        :gameStatus="gameStatus"
        :isUnanimousVote="isUnanimousVote"
      />

      <main
        class="relative flex-1 overflow-y-auto bg-back-800 focus:outline-none"
        tabindex="0"
      >
        <div class="pt-2 pb-6 md:py-6">
          <div class="px-4 mx-auto sm:px-6 md:px-8">
            <ul
              id="board"
              class="space-y-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:space-y-0 lg:grid-cols-4 lg:gap-6"
            >
              <template v-if="isRunningRound">
                <game-card
                  v-for="card in cardDeckCards"
                  v-bind:key="card"
                  :card="card"
                  :pick="true"
                  :selected="selectedCard === card"
                  v-on:cardSelect="onCardSelect($event)"
                />
              </template>
              <template v-if="isFinishedRound && !isUnanimousVote">
                <game-card
                  v-for="(card, p) in playerStatus"
                  :key="p"
                  :card="card"
                  :playerName="p"
                  :isMajorityVote="
                    majorityVoteExists &&
                    p === playerName &&
                    selectedCard !== majorityVotedCard
                  "
                  :highlighted="highlightedPlayers.includes(p)"
                  v-on:cardSelect="onCardSelect($event)"
                  v-on:joinMajority="onJoinMajority()"
                />
              </template>
              <template v-if="isFinishedRound && isUnanimousVote">
                <game-card
                  :card="unanimousVotedCard"
                  :playerName="gameTopic"
                  :isUnanimousVote="true"
                  :selected="true"
                />
              </template>
            </ul>
          </div>
        </div>
      </main>
    </div>
    <div class="fixed inset-x-0 bottom-0 pb-2 sm:pb-5">
      <hint-banner-bottom
        :gameStatus="gameStatus"
        :isUnanimousVote="isUnanimousVote"
        :hasPicked="hasSelectedCard"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { namespace } from "vuex-class";
import SelectMenu from "@/components/SelectMenu.vue";
import UserList from "@/components/UserList.vue";
import GameCard from "@/components/GameCard.vue";
import { messaging } from "./../rio-proto.js";
import { getAllCardsFromDeck } from "@/rest/Game";
import GameStatus from "@/components/GameStatus.vue";
import HintBannerBottom from "@/components/HintBannerBottom.vue";

const GameStateModule = namespace("gameStateModule");

@Component({
  components: {
    SelectMenu,
    UserList,
    GameCard,
    GameStatus,
    HintBannerBottom,
  },
})
export default class Join extends Vue {
  @Prop() private msg!: string;

  @GameStateModule.Getter
  private connectionError!: string;
  @GameStateModule.Getter
  private playerStatus!: messaging.PlayerUpdate;
  @GameStateModule.Getter
  private gameTitle!: string;
  @GameStateModule.Getter
  private gameStatus!: messaging.GameStatus;
  @GameStateModule.Getter
  private gameTopic!: string;
  @GameStateModule.Getter
  private gameTopicLink!: string;
  @GameStateModule.Getter
  private cardDeck!: messaging.CardDeckType;
  @GameStateModule.Getter
  private isUnanimousVote!: boolean;
  @GameStateModule.Getter
  private majorityVotedCard!: messaging.CardDeckCards;
  @GameStateModule.Getter
  private highlightedPlayers!: string[];

  private selectedCard = messaging.CardDeckCards.SPECIAL_NOTCHOSEN;
  private formGameTopic = "";
  private playerName =
    this.$route.query.playerName !== null
      ? String(this.$route.query.playerName)
      : "";
  private gameID = this.$route.params.gameID;

  private showMobileMenu = false;

  mounted() {
    // connect via websocket
    this.$websocketConnect(this.gameID, false, this.playerName);
  }

  startSession(): void {
    this.$websocketSend(
      messaging.Container.create({
        hostUpdate: {
          gameStatus: messaging.GameStatus.RUNNING,
          gameTopic: this.formGameTopic,
        },
      })
    );
  }

  onCardSelect(card: messaging.CardDeckCards): void {
    if (this.gameStatus === messaging.GameStatus.RUNNING) {
      this.selectedCard = card;
      this.$websocketSend(
        messaging.Container.create({ playerUpdate: { card: card } })
      );
    }
  }

  onJoinMajority(): void {
    this.selectedCard = this.majorityVotedCard;
    this.$websocketSend(
      messaging.Container.create({
        playerUpdate: { card: messaging.CardDeckCards.SPECIAL_JOINMAJORITY },
      })
    );
  }

  get hasSelectedCard(): boolean {
    return this.selectedCard !== messaging.CardDeckCards.SPECIAL_NOTCHOSEN;
  }

  get cardDeckCards(): messaging.CardDeckCards[] {
    console.log(this.cardDeck);
    return getAllCardsFromDeck(this.cardDeck);
  }

  get isRunningRound(): boolean {
    return this.gameStatus === messaging.GameStatus.RUNNING;
  }

  get isFinishedRound(): boolean {
    return this.gameStatus === messaging.GameStatus.FINISHED;
  }

  get unanimousVotedCard(): messaging.CardDeckCards {
    return Number(Object.values(this.playerStatus)[0]);
  }

  get majorityVoteExists(): boolean {
    return (
      this.majorityVotedCard !== messaging.CardDeckCards.SPECIAL_NOMAJORITY
    );
  }

  @Watch("gameStatus")
  onPropertyChanged(
    newStatus: messaging.GameStatus,
    oldStatus: messaging.GameStatus
  ) {
    if (
      newStatus === messaging.GameStatus.NEW ||
      newStatus === messaging.GameStatus.RUNNING
    ) {
      this.selectedCard = messaging.CardDeckCards.SPECIAL_NOTCHOSEN;
    }
  }

  @Watch("connectionError")
  onConnetionChanged(newStatus: string, oldStatus: string) {
    if (newStatus !== "") {
      this.$router.push("/");
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
