<template>
  <div class="flex flex-row text-white h-hero bg-back-800">
    <section class="max-w-4xl px-4 pt-5 mx-auto">
      <div class>
        <div class="flex flex-col justify-content-center" style="text-align: center;">
          <h4 class="mb-4 text-xl font-semibold text-info">
            <span class>Privacy Policy</span>
          </h4>
          <h5 class="mb-4 text-lg font-semibold text-gray-400">
            <span>What data do we collect?</span>
          </h5>
          <p>The following data is collected when you are using our service, for the duration of a refinement session:</p>
          <br />
          <p>
            a username that you can freely choose
            <br />cards picked when estimating a story
          </p>
          <h5 class="my-4 text-lg font-semibold text-gray-400">
            <span>How do we collect your data?</span>
          </h5>
          <p>You directly provide us with the data we collect. We collect data and process data only when you are hosting or joining a refinement session.</p>
          <h5 class="my-4 text-lg font-semibold text-gray-400">
            <span>How will we use your data?</span>
          </h5>
          <p>Our Company collects your data so that we can:</p>
          <p>
            securely connect you to a refinement session
            your peers can identify yourself in a session with your custom username
          </p>
          <h5 class="my-4 text-lg font-semibold text-gray-400">
            <span>How do we store your data?</span>
          </h5>
          <p>we only store your custom username and the story sizes picked in memory</p>
          <p>We will keep this data only for the duration of the refinement session. This data will be deleted from the in-memory store after two hours of inactivity.</p>
          <h5 class="my-4 text-lg font-semibold text-gray-400">
            <span>Cookies</span>
          </h5>
          <p>Cookies are text files placed on your computer. For further information, visit allaboutcookies.org.</p>
          <p>Our website uses only strictly necessary cookies to provide basic functionality of our site. We only use a single session cookie, which will automatically expire when you close your browser, to securely connect you to a refinement session. This also ensures that messages exchanged during a refinement session have not been tampered with.</p>
          <h5 class="my-4 text-lg font-semibold text-gray-400">
            <span>Privacy policies of other websites</span>
          </h5>
          <p>This website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>
          <h5 class="my-4 text-lg font-semibold text-gray-400">
            <span>Changes to our privacy policy</span>
          </h5>
          <p>We keep our privacy policy under regular review and place any updates on this web page. This privacy policy was last updated in March 2020.</p>
          <h5 class="my-4 text-lg font-semibold text-gray-400">
            <span>How to contact us</span>
          </h5>
          <p>See our Imprint.</p>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({
  components: {},
})
export default class Privacy extends Vue {}
</script>
