<template>
  <div class="py-12 bg-white" id="features">
    <div class="px-4 mx-auto max-w-screen-xl sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <p class="text-base font-semibold tracking-wide uppercase text-info leading-6">Refinement</p>
        <h3
          class="mt-2 text-2xl font-bold tracking-tight text-gray-900 leading-8 sm:text-3xl sm:leading-10"
        >Estimate your teams backlog remotely</h3>
        <p
          class="max-w-2xl mt-4 text-xl text-gray-500 leading-7 lg:mx-auto"
        >Get some background knowledge on the agile backlog refinment process and learn how it is put to practice on refinable.io</p>
      </div>

      <div class="mt-10">
        <ul class="md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
          <li>
            <div class="flex">
              <div class="flex-shrink-0">
                <div
                  class="flex items-center justify-center w-10 h-12 border rounded-sm text-info border-info"
                >
                  <!-- Heroicon name: globe-alt -->
                  <svg
                    class="w-6 h-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                    />
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <h4
                  class="text-lg font-medium text-gray-900 leading-6"
                >The Backlog Refinement Process</h4>
                <p
                  class="mt-2 text-base text-gray-500 leading-6"
                >Backlog refinement is the agile process in which the team, together with the product owner and scrum master, prepares the product backlog for the next planning.</p>
                <p
                  class="mt-2 text-base text-gray-500 leading-6"
                >The optimal result of the meeting is a prioritized backlog with stories that meet the teams definition of ready. Also every team member should have a clear understanding of the acceptance criterias of every story.</p>
              </div>
            </div>
          </li>
          <li class="mt-10 md:mt-0">
            <div class="flex">
              <div class="flex-shrink-0">
                <div
                  class="flex items-center justify-center w-10 h-12 border rounded-sm text-info border-info"
                >
                  <!-- Heroicon name: scale -->
                  <svg
                    class="w-6 h-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3"
                    />
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <h4
                  class="text-lg font-medium text-gray-900 leading-6"
                >Estimating the Size of a Story</h4>
                <p
                  class="mt-2 text-base text-gray-500 leading-6"
                >An essential part of the backlog refinement session is also to ensure that all participants have the same understanding of the complexity of a story. Estimating the size of a story is important, to get an understanding of how many stories can be tackled during one sprint cycle. A popular tool to align the size of a story within an agile team, is playing scrum poker.</p>
                <p
                  class="mt-2 text-base text-gray-500 leading-6"
                >On refinable.io this process is especially implemented for remote teams, where teams can collaborate in real-time to estimate the stories in their backlog.</p>
              </div>
            </div>
          </li>
          <li class="mt-10 md:mt-0">
            <div class="flex">
              <div class="flex-shrink-0">
                <div
                  class="flex items-center justify-center w-10 h-12 border rounded-sm text-info border-info"
                >
                  <!-- Heroicon name: user-group -->
                  <svg
                    class="w-6 h-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
                    />
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <h4
                  class="text-lg font-medium text-gray-900 leading-6"
                >Estimating Stories on refinable.io</h4>
                <p
                  class="mt-2 text-base text-gray-500 leading-6"
                >The scrum master starts a new session by entering a title in the main input bar of the landing page. By clicking on "Host Session" a new refinement session will be created. Team members can then join the session via the "Session ID" or the "Join Link". Both are displayed to the scrum master after starting a new session.</p>
                <p
                  class="mt-2 text-base text-gray-500 leading-6"
                >When all team members joined the session, the scrum master can enter a story title which should be refined at the top of the screen. By clicking the "Refine" button, the refinement round is started and all team members can estimate the size of the story.</p>
              </div>
            </div>
          </li>
          <li class="mt-10 md:mt-0">
            <div class="flex">
              <div class="flex-shrink-0">
                <div
                  class="flex items-center justify-center w-10 h-12 border rounded-sm text-info border-info"
                >
                  <!-- Heroicon name: refresh-->
                  <svg
                    class="w-6 h-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"
                    />
                  </svg>
                </div>
              </div>
              <div class="ml-4">
                <h4 class="text-lg font-medium text-gray-900 leading-6">The Refinement Lifecycle</h4>
                <p
                  class="mt-2 text-base text-gray-500 leading-6"
                >Every team member can then choose an estimate of the story size by picking the matching card on the screen. After all team members have chosen their card, all choices are displayed. Team members with the biggest outlier in estimation are then highlighted and encouraged to explain the reasoning behind their estimation. Afterwards the scrum master can click the "Re-Estimate" button to start another refinement round.</p>
                <p
                  class="mt-2 text-base text-gray-500 leading-6"
                >This process is now repeated until all team members estimate the same size for the story. If this is the case: Congratulations, you successfully aligned on the size of a story within your team!</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {},
})
export default class Features extends Vue {
  created() {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
