<template>
  <footer class="bg-white">
    <div class="px-4 py-8 mx-auto overflow-hidden max-w-screen-xl space-y-8 sm:px-6 lg:px-8">
      <nav class="flex flex-wrap justify-center -mx-5 -my-2">
        <div class="px-5 py-2">
          <a
            href="https://gitlab.com/msvechla"
            class="text-base text-gray-500 leading-6 hover:text-gray-900"
          >Code</a>
        </div>
        <div class="px-5 py-2">
          <router-link
            to="/imprint"
            class="text-base text-gray-500 leading-6 hover:text-gray-900"
          >Imprint</router-link>
        </div>
        <div class="px-5 py-2">
          <router-link
            to="/privacy"
            class="text-base text-gray-500 leading-6 hover:text-gray-900"
          >Privacy</router-link>
        </div>
      </nav>

      <p
        class="mt-6 text-base text-center text-gray-400 leading-6"
      >&copy; 2020 Marius Svechla. All rights reserved.</p>
    </div>
  </footer>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {},
})
export default class Footer extends Vue {}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
