<template>
  <div :class="statusBGColor" class="relative">
    <div class="px-3 py-2 mx-auto max-w-screen-xl sm:px-6 lg:px-8">
      <div class="text-center sm:px-16">
        <p class="font-medium text-white">
          <span class>{{statusText}}</span>
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { messaging } from "./../rio-proto.js";

@Component({
  components: {},
})
export default class GameStatus extends Vue {
  @Prop()
  private gameStatus!: messaging.GameStatus;
  @Prop()
  private isHost!: boolean;
  @Prop()
  private isUnanimousVote!: boolean;

  mounted() {}

  get statusBGColor(): string {
    switch (this.gameStatus) {
      case messaging.GameStatus.NEW:
        return "bg-success-600";

      case messaging.GameStatus.RUNNING:
        return "bg-back-200";

      case messaging.GameStatus.FINISHED:
        return "bg-success-500";
    }
    return "";
  }

  get statusText(): string {
    switch (this.gameStatus) {
      case messaging.GameStatus.NEW:
        if (this.isHost) {
          return "Invite more team members, enter a story title and click refine to start the session.";
        }
        return "Waiting for the session host to start the refinement session.";
      case messaging.GameStatus.RUNNING:
        return "Waiting for team members to pick their cards.";
      case messaging.GameStatus.FINISHED:
        if (this.isUnanimousVote) {
          return "Congratulations, you successfully refined your story!";
        }
        return "Voting is not yet unanimous.";
    }
    return "";
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
