<template>
  <div class="relative bg-back-800">
    <div
      class="flex items-center justify-between px-4 py-6 sm:px-6 md:justify-start md:space-x-10"
    >
      <div class="lg:w-0 lg:flex-1"></div>
      <div class="-my-2 -mr-2 md:hidden">
        <button
          type="button"
          v-on:click="showMobileMenu = !showMobileMenu"
          class="inline-flex items-center justify-center p-2 text-white rounded-md hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out"
        >
          <!-- Heroicon name: menu -->
          <svg
            class="w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>
      <nav class="hidden md:flex space-x-10">
        <router-link to="/" v-slot="{ href, navigate }">
          <a
            :href="href"
            @click="navigate"
            class="text-base font-medium text-white leading-6 hover:text-info focus:outline-none focus:text-success transition ease-in-out duration-150"
            >Home</a
          >
        </router-link>
        <router-link to="/" v-slot="{ href, navigate }">
          <a
            :href="href"
            v-scroll-to="'#features'"
            @click="navigate"
            class="text-base font-medium text-white leading-6 hover:text-info focus:outline-none focus:text-success transition ease-in-out duration-150"
            >Quickstart</a
          >
        </router-link>
        <router-link to="/" v-slot="{ href, navigate }">
          <a
            :href="href"
            v-scroll-to="'#features'"
            @click="navigate"
            class="text-base font-medium text-white leading-6 hover:text-info focus:outline-none focus:text-success transition ease-in-out duration-150"
            >Refinement</a
          >
        </router-link>
        <a
          href="https://gitlab.com/msvechla/rio-gameserver/-/blob/master/docs/architecture.md"
          class="text-base font-medium text-white leading-6 hover:text-info focus:outline-none focus:text-success transition ease-in-out duration-150"
          >Architecture</a
        >
        <a
          href="https://gitlab.com/explore/projects?tag=refinable.io"
          class="text-base font-medium text-white leading-6 hover:text-info focus:outline-none focus:text-success transition ease-in-out duration-150"
          >Source</a
        >
      </nav>
      <div
        class="items-center justify-end hidden md:flex space-x-8 md:flex-1 lg:w-0"
      >
        <span
          class="text-base font-medium text-white whitespace-nowrap leading-6 hover:text-info focus:outline-none focus:text-success"
        >
          Sessions
          <span
            class="px-1 text-base font-medium text-white border-2 whitespace-nowrap leading-6 border-success hover:text-info focus:outline-none focus:text-success"
            >{{ gameStats.activeSessions }}</span
          >
        </span>
        <span
          class="text-base font-medium text-white whitespace-nowrap leading-6 hover:text-info focus:outline-none focus:text-success"
        >
          Users
          <span
            class="px-1 text-base font-medium text-white border-2 whitespace-nowrap border-success leading-6 hover:text-info focus:outline-none focus:text-success"
            >{{ gameStats.activePlayers }}</span
          >
        </span>
      </div>
    </div>

    <!--
    Mobile menu, show/hide based on mobile menu state.
    -->
    <transition
      enter-active-class="duration-200 ease-out"
      enter-class="opacity-0 scale-95"
      enter-to-class="opacity-100 scale-100"
      leave-active-class="duration-100 ease-in"
      leave-class="opacity-100 scale-100"
      leave-to-class="opacity-0 scale-95"
    >
      <div
        v-show="showMobileMenu"
        class="absolute inset-x-0 top-0 p-2 transition transform origin-top-right md:hidden"
      >
        <div class="rounded-lg shadow-lg">
          <div class="rounded-lg bg-back ring-1 ring-black ring-opacity-5 divide-y-2 divide-back-400">
            <div class="px-5 pt-5 pb-6 space-y-6">
              <div class="flex items-center justify-between">
                <div>
                  <img
                    class="w-auto h-8"
                    src="img/brand/white.png"
                    alt="Workflow"
                  />
                </div>
                <div class="-mr-2">
                  <button
                    type="button"
                    v-on:click="showMobileMenu = !showMobileMenu"
                    class="inline-flex items-center justify-center p-2 text-gray-400 rounded-md hover:text-white hover:bg-info focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out"
                  >
                    <!-- Heroicon name: x -->
                    <svg
                      class="w-6 h-6"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="px-5 py-6 space-y-6">
              <div class="grid grid-cols-2 gap-4">
                <router-link to="/" v-slot="{ href, navigate }">
                  <a
                    :href="href"
                    @click="navigate"
                    class="text-base font-medium text-white leading-6 hover:text-info focus:outline-none focus:text-success transition ease-in-out duration-150"
                    >Quickstart</a
                  >
                </router-link>
                <router-link to="/" v-slot="{ href, navigate }">
                  <a
                    :href="href"
                    @click="navigate"
                    class="text-base font-medium text-white leading-6 hover:text-info focus:outline-none focus:text-success transition ease-in-out duration-150"
                    >Refinement</a
                  >
                </router-link>
                <a
                  href="https://gitlab.com/msvechla/rio-gameserver/-/blob/master/docs/architecture.md"
                  class="text-base font-medium text-white leading-6 hover:text-info transition ease-in-out duration-150"
                  >Architecture</a
                >
                <a
                  href="https://gitlab.com/explore/projects?tag=refinable.io"
                  class="text-base font-medium text-white leading-6 hover:text-info transition ease-in-out duration-150"
                  >Source</a
                >
              </div>
              <div class="space-y-6">
                <span
                  class="text-base font-medium text-white whitespace-nowrap leading-6 hover:text-info focus:outline-none focus:text-success"
                >
                  Sessions
                  <span
                    class="px-1 text-base font-medium text-white border-2 whitespace-nowrap leading-6 border-success hover:text-info focus:outline-none focus:text-success"
                    >{{ gameStats.activeSessions }}</span
                  >
                </span>
                <span
                  class="ml-4 text-base font-medium text-white whitespace-nowrap leading-6 hover:text-info focus:outline-none focus:text-success"
                >
                  Users
                  <span
                    class="px-1 text-base font-medium text-white border-2 whitespace-nowrap border-success leading-6 hover:text-info focus:outline-none focus:text-success"
                    >{{ gameStats.activePlayers }}</span
                  >
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { getGameStats, GameStats } from "@/rest/Game";

@Component({
  components: {},
})
export default class IndexHeader extends Vue {
  @Prop() private msg!: string;

  private showMobileMenu = false;
  private gameStats: GameStats = new GameStats(0, 0);

  created() {
    let stats = getGameStats();

    try {
      stats.then((s) => {
        this.gameStats = s;
      });
    } catch (err) {
      console.log(err);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
