<template>
  <div class="flex flex-col justify-between sm:flex-row align-items-center">
    <div class="flex items-center flex-1 mt-4 sm:w-64">
      <span class="text-white opacity-75">Star us on</span>
      <a href="https://gitlab.com/msvechla" target="_blank" title="Support us on Gitlab">
        <img
          src="/img/brand/gitlab-logo-white.png"
          class="inline opacity-75 hover:opacity-100"
          style="height: 52px; margin-top: -3px"
        />
      </a>
    </div>
    <div></div>
    <div class="w-full mt-4 text-right sm:w-80">
      <span class="text-white opacity-75">Powered by</span>
      <a href="https://golang.org/" target="_blank" title="Go Programming Language">
        <img
          src="/img/brand/go-logo-white.png"
          class="inline ml-2 opacity-75 hover:opacity-100"
          style="height: 64px;"
        />
      </a>
      <a href="https://redis.io/" target="_blank" title="Redis">
        <img
          src="/img/brand/redis-logo-white.png"
          class="inline ml-0 opacity-75 hover:opacity-100"
          style="height: 30px;"
        />
      </a>
      <a href="https://www.rabbitmq.com/" target="_blank" title="RabbitMQ">
        <img
          src="/img/brand/rabbitmq-logo-white.png"
          class="inline ml-2 opacity-75 hover:opacity-100"
          style="height: 30px;"
        />
      </a>
      <a href="https://kubernetes.io/" target="_blank" title="Kubernetes">
        <img
          src="/img/brand/kubernetes-logo-white.png"
          class="inline ml-2 opacity-75 hover:opacity-100"
          style="height: 30px;"
        />
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {},
})
export default class IndexLogos extends Vue {
  @Prop() private msg!: string;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
