<template>
  <div
    class="flex flex-col items-center justify-center px-4 mx-auto bg-back-800 h-heromobile sm:h-hero sm:px-6 lg:px-8"
  >
    <!-- Notifications -->
    <div
      class="fixed inset-0 z-10 flex items-end justify-center px-4 py-6 pointer-events-none mt-28 sm:p-6 sm:items-start sm:justify-end"
    >
      <notification
        :visible="notification.title !== ''"
        :title="notification.title"
        :description="notification.description"
        v-on:close="notification.title = ''"
      />
    </div>

    <div class="flex flex-col items-center">
      <div id="mainContent" class="flex-initial text-center md:w-100">
        <div class="w-full">
          <img
            src="/img/brand/white.png"
            style="width: 200px"
            class="mx-auto"
          />
        </div>
        <h3 class="mt-4 text-xl font-light text-info">
          Every backlog is refinable, especially remotely.
        </h3>

        <template v-if="maintenanceMode">
          <h5 class="mt-12 mb-4 text-lg italic text-gray-400">
            We are currently undergoing a short maintenance and will be back
            soon
          </h5>
          <h3 class="text-xl">🛠</h3>
        </template>

        <!-- Main Input Bar -->
        <template v-if="!maintenanceMode">
          <div class>
            <div class v-bind:class="{ 'has-success': isSessionID }">
              <input
                type="text"
                class="w-full h-12 mt-12 mb-4 text-lg text-center rounded-sm bg-back text-success focus:ring-gray-800"
                v-model="mainConnectText"
                @input="validateConnectionBox"
                v-bind:class="{ 'is-valid': isSessionID }"
                placeholder="Enter any session name to host a new session or a SessionID to join"
                v-on:keyup.enter="performAction"
              />
            </div>
            <template v-if="mainConnectText == ''">
              <a
                href="#"
                v-scroll-to="'#features'"
                class="getStarted"
                v-on:click="validateConnectionBox"
              >
                <div class="text-white text-opacity-75 hover:text-opacity-100">
                  Learn how to get started in seconds
                  <br />⌄
                </div>
              </a>
            </template>
            <!-- <div class="row align-items-center justify-content-around hint-span">
	<span>e.g. "Team Somebody Planning"</span>
            </div>-->
            <template v-if="mainAction == ACTION_HOST">
              <select-menu
                :data="Object.keys(cardDecks)"
                v-model="selectedCardDeckText"
                v-on:valueSelect="onCardDeckSelect"
              ></select-menu>
            </template>

            <div v-show="mainAction == ACTION_JOIN">
              <div class="mb-4 input-group input-group-alternative">
                <input
                  ref="playerNameInput"
                  class="w-full h-12 mb-4 text-lg text-center rounded-sm shadow-sm bg-back text-success focus:ring-gray-800"
                  v-model="playerName"
                  placeholder="Your Name"
                  type="text"
                  v-on:keyup.enter="performAction"
                />
                <div class>
                  <span class>
                    <i class="fa fa-user"></i>
                  </span>
                </div>
              </div>
            </div>
            <div
              class="row align-items-center justify-content-around error-span"
            >
              <span>{{ displayError }}</span>
            </div>
            <button
              class="inline-flex items-center justify-center px-4 py-2 mt-4 text-base font-medium text-white border border-transparent whitespace-nowrap leading-6 rounded-md transition ease-in-out duration-150"
              v-bind:class="{
                'hover:bg-success-400 focus:outline-none focus:bg-success-400 focus:ring-success active:bg-success-400 bg-success': isValid,
                'hover:bg-gray-500 focus:outline-none focus:bg-gray-500 focus:ring-gray active:bg-gray-500 bg-gray-500': !isValid,
                loading: isLoading,
              }"
              v-bind:disabled="!isValid || isLoading"
              v-on:click="performAction"
              v-if="mainAction !== ACTION_NONE"
              type="button"
            >
              <span class="btn-inner--text">{{ mainButtonText }}</span>
            </button>
          </div>
        </template>
      </div>
    </div>
    <div class="flex flex-col items-center mt-12">
      <div id="logo" class="flex-initial w-full px-4 md:w-110">
        <index-logos />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

import SelectMenu from "@/components/SelectMenu.vue";
import IndexLogos from "@/components/IndexLogos.vue";
import Notification from "@/components/Notification.vue";
import { hostGame } from "@/rest/Game";
import { messaging } from "./../rio-proto.js";
import { getToken } from "@/rest/Game";
import { RestError } from "@/rest/Game";

@Component({
  components: {
    SelectMenu,
    IndexLogos,
    Notification,
  },
})
export default class IndexHero extends Vue {
  $refs!: {
    playerNameInput: HTMLInputElement;
  };

  private maintenanceMode = false;
  private notification = { title: "", description: "" };
  private gameID = this.$route.params.gameID;
  private mainAction = "";
  private playerName = "";
  private showMobileMenu = false;
  private mainConnectText = "";
  private isSessionID = false;
  private isValid = false;
  private isLoading = false;
  private displayError = "";
  private cardDecks: { [key: string]: messaging.CardDeckType } = {
    "Default Deck": messaging.CardDeckType.DEFAULT,
    "T-Shirt Sizes Deck": messaging.CardDeckType.TSHIRT,
  };
  private selectedCardDeckText = "Default Deck";
  private selectedCardDeck = messaging.CardDeckType.DEFAULT;

  private ACTION_JOIN = "JOIN";
  private ACTION_INVALID = "INVALID";
  private ACTION_HOST = "HOST";
  private ACTION_NONE = "NONE";

  mounted() {
    if (this.gameID !== undefined) {
      this.mainConnectText = this.gameID;
      this.validateConnectionBox();
      this.$nextTick(() => this.$refs.playerNameInput.focus());
    }
  }

  created() {
    if (this.$route.params.sID) {
      this.mainConnectText = this.$route.params.sID;
    }

    this.ACTION_JOIN = "JOIN";
    this.ACTION_INVALID = "INVALID";
    this.ACTION_HOST = "HOST";
    this.ACTION_NONE = "NONE";
    this.validateConnectionBox();
  }

  get mainButtonText(): string {
    switch (this.mainAction) {
      case this.ACTION_HOST:
        return "Host a new Session";
      case this.ACTION_JOIN:
        return "Join Session";
      case this.ACTION_INVALID:
        return "Invalid SessionID";

      default:
        return "Waiting for Input";
    }
  }

  get cardDeckText(): string {
    switch (this.selectedCardDeck) {
      case messaging.CardDeckType.DEFAULT:
        return "Default Deck";
      case messaging.CardDeckType.TSHIRT:
        return "T-Shirt Sizes Deck";

      default:
        return "Default Deck";
    }
  }

  validateConnectionBox(): void {
    var sid: RegExp = /^sid-[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$/;
    var sidPrefix: RegExp = /^sid-.*/;

    var isSIDPrefix = sidPrefix.test(this.mainConnectText);
    this.isSessionID = sid.test(this.mainConnectText);
    this.displayError = "";

    if (isSIDPrefix && !this.isSessionID) {
      this.isValid = false;
    } else {
      this.isValid = true;
    }

    if (this.mainConnectText === "") {
      this.mainAction = this.ACTION_NONE;
      this.isValid = false;
      return;
    }

    if (this.isValid && this.isSessionID) {
      this.mainAction = this.ACTION_JOIN;
    } else if (this.isValid) {
      this.mainAction = this.ACTION_HOST;
    } else {
      this.mainAction = this.ACTION_INVALID;
      this.isValid = false;
    }
  }

  performAction(): void {
    switch (this.mainAction) {
      case this.ACTION_HOST:
        this.hostGame();
        return;
      case this.ACTION_JOIN:
        this.joinGame();
        return;
    }
  }

  onCardDeckSelect(value: string): void {
    this.selectedCardDeckText = value;
    this.selectedCardDeck = this.cardDecks[value];
  }

  hostGame() {
    const resp = hostGame(this.mainConnectText, this.selectedCardDeck);
    let t = this;
    resp
      .then((c) => {
        console.log(c);
        this.$router.push({ name: "Host", params: { gameID: c.gameID } });
      })
      .catch(function (err) {
        t.logAndShowError(err);
      });
  }

  joinGame(): void {
    const resp = getToken(this.mainConnectText, this.playerName);
    let t = this;

    resp
      .then((c) => {
        this.$router.push(
          "/join/" + this.mainConnectText + "?playerName=" + this.playerName
        );
      })
      .catch(function (err) {
        t.logAndShowError(err);
      });
  }

  logAndShowError(err: RestError): void {
    this.notification.title = err.title;
    this.notification.description = err.message;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
