<template >
  <div v-if="show" class="fixed inset-0 z-10 overflow-y-auto">
    <div
      v-if="show"
      class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0"
    >
      <!--
      Background overlay, show/hide based on modal state.
    -->
      <transition
        enter-active-class="ease-out duration-300"
        enter-class="opacity-0"
        enter-to-class="opacity-100"
        leave-active-class="ease-in duration-200"
        leave-class="opacity-100"
        leave-to-class="opacity-0"
      >
        <div v-show="show" class="fixed inset-0 transition-opacity">
          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
      </transition>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span
      >&#8203;
      <!--
      Modal panel, show/hide based on modal state.
    -->
      <transition
        enter-active-class="ease-out duration-300"
        enter-class="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        enter-to-class="opacity-100 translate-y-0 sm:scale-100"
        leave-active-class="ease-in duration-200"
        leave-class="opacity-100 translate-y-0 sm:scale-100"
        leave-to-class="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      >
        <div
          v-show="show"
          class="inline-block px-4 pt-5 pb-4 overflow-hidden text-left align-bottom bg-white rounded-sm shadow-xl transform transition-all sm:my-8 sm:align-middle"
          role="dialog"
          aria-modal="true"
          aria-labelledby="modal-headline"
        >
          <div class="mx-4">
            <qrcode-vue :value="value" size="256" level="H"></qrcode-vue>
          </div>
          <div class="mt-5 sm:mt-6">
            <span class="flex w-full rounded-sm shadow-sm">
              <button
                type="button"
                class="inline-flex justify-center w-full py-2 text-base font-semibold text-white border border-transparent rounded-sm bg-info leading-6 shadow-sm hover:bg-info-400 focus:outline-none focus:border-info-400 focus:ring-info transition ease-in-out duration-150 sm:text-md sm:leading-5"
                v-on:click="onDismiss()"
              >
                Close
              </button>
            </span>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import QrcodeVue from "qrcode.vue";

@Component({
  components: {
    QrcodeVue,
  },
})
export default class JoinCode extends Vue {
  @Prop()
  private show!: boolean;

  @Prop()
  private value!: string;

  mounted() {}

  onDismiss(): void {
    this.$emit("dismissed", true);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
