<template>
  <transition
    enter-active-class="transform ease-out duration-300 transition"
    enter-class="opacity-0 translate-y-2 sm:translate-y-0 sm:translate-x-2"
    enter-to-class="opacity-100 translate-y-0 sm:translate-x-0"
    leave-active-class="transition ease-in duration-100"
    leave-class="opacity-100"
    leave-to-class="opacity-0"
  >
    <div
      v-bind:class="{'hidden': !visible}"
      class="w-full max-w-sm rounded-sm pointer-events-auto bg-info shadow-sm"
    >
      <div class="overflow-hidden rounded-sm ring-1 ring-black ring-opacity-5">
        <div class="p-2">
          <div class="flex items-start">
            <div class="flex-shrink-0 text-info-900">></div>
            <div class="ml-3 w-0 flex-1 pt-0.5">
              <p class="text-sm font-medium text-white leading-5">{{title}}</p>
              <p class="mt-1 text-sm text-info-900 leading-5">{{description}}</p>
            </div>
            <div class="flex flex-shrink-0 ml-4">
              <button
                v-on:click="onClose()"
                class="inline-flex text-info-400 focus:outline-none focus:text-gray-500 transition ease-in-out duration-150"
              >
                <!-- Heroicon name: x -->
                <svg
                  class="w-5 h-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({
  components: {},
})
export default class Notification extends Vue {
  @Prop()
  private title!: string;
  @Prop()
  private description!: string;
  @Prop()
  private visible!: boolean;

  mounted() {}

  onClose(): void {
    this.$emit("close", true);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
