<template>
  <div>
    <div class="flex">
      <button
        v-if="isHost"
        class="flex-grow px-2 py-2 mb-2 mr-2 text-sm font-medium text-center text-white whitespace-nowrap focus:ring focus:outline-none bg-back-400 leading-5 hover:bg-back-200"
        v-on:click="onInvite()"
      >
        Invite Members
      </button>
      <button
        v-if="isHost"
        class="flex px-2 py-2 mb-2 text-sm font-medium text-center text-white whitespace-nowrap focus:ring focus:outline-none bg-back-400 leading-5 hover:bg-back-200"
        v-on:click="onQR()"
      >
        QR
      </button>
    </div>
    <template v-if="Object.keys(playerStatus).length > 0">
      <div class="flex flex-col min-w-full">
        <div
          v-for="(card, p) in playerStatus"
          :key="p"
          class="flex flex-row mb-1 align-middle border cursor-pointer h-9 border-back-600 hover:border-back-500"
        >
          <div
            class="flex-none px-2 text-sm mr-2 my-auto font-medium text-gray-900 whitespace-nowrap leading-5 w-0.5"
          >
            <div
              :class="getCardStatusClass(card)"
              class="block w-2 h-2 text-white"
            ></div>
          </div>
          <div
            class="flex-grow px-2 my-auto text-sm font-medium text-white whitespace-nowrap leading-5"
          >
            {{ p }}
          </div>
          <div
            class="flex-none px-2 my-auto text-sm font-medium text-right whitespace-nowrap leading-5"
            v-if="isHost"
          >
            <a
              @click.prevent="onRemove(p)"
              class="cursor-pointer text-danger hover:text-danger-300"
              >Remove</a
            >
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { hostGame } from "@/rest/Game";
import { messaging } from "./../rio-proto.js";

@Component({
  components: {},
})
export default class UserList extends Vue {
  @Prop()
  private playerStatus!: messaging.PlayerUpdate;
  @Prop()
  private isHost!: boolean;

  mounted() {}

  getCardStatusClass(card: messaging.CardDeckCards): string {
    if (card === messaging.CardDeckCards.SPECIAL_NOTCHOSEN) {
      return "bg-red-400";
    }
    return "bg-green-400";
  }

  onInvite(): void {
    this.$emit("invite", true);
  }

  onQR(): void {
    this.$emit("qr", true);
  }

  onRemove(user: string): void {
    this.$emit("remove", user);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
